.header-bg {
    height: 100vh;
    min-height: 150px;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("img/background2.jpg");
}

.circle-padding {
    width: 15rem;
    height: 15rem;
    border: 10px solid white;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}