* {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
}

body {
    background: linear-gradient(180deg, #212122, #131314);
    color: #E3E3E3;
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
}

.header-bg {
    width: 100%;
    min-height: 45vh;
    background: url('/assets/images/background.webp') center / cover no-repeat;
}

.header-text {
    text-shadow: 2px 2px 3px black;
}

.social-icon {
    object-fit: contain;
}

.about-me-card {
    background-color: #004A77;
}

.carousel-css {
    overflow: hidden;
    display: flex;
}

.card-carousel {
    border-radius: 32px;
    padding: 1rem;
}

.card-carousel img {
    object-fit: contain;
}

.group {
    display: flex;
    gap: 20px;
    padding-right: 20px;
    will-change: transform;
    animation: scroll 45s linear infinite;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

.tech-stack-icons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
}

.tech-stack-icons img{
    object-fit: contain;
}

.experience-header {
    flex-wrap: wrap;
}

.quote-card {
    background-color: #0F5223;
}

#back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    height: 50px;
    width: 50px;
    display: none;
}